    @import url("https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap");
    * {
        font-family: "Nunito", sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        outline: none;
        border: none;
        text-decoration: none;
        text-transform: capitalize;
        transition: all 0.2s linear;
    }
    
    html {
        font-size: 62.5%;
        overflow: scroll;
    }
    
    body {
        background: #212531;
        margin: 0;
    }
    .wrapper{
        justify-content: center;
        align-content: center;
    }
    
    header {
        margin: 0px;
    }
    
    a {
        text-decoration: none;
        color: #000;
    }
    
    ul {
        list-style: none;
    }
    
    section {
        padding: 0.5rem 10%;
    }
    
    .logo {
        font-size: 2.5rem;
        font-weight: bolder;
        color: #666;
        display: inline-block;
    }
    
    .logo i {
        padding-right: 2rem;
        color: black;
    }
    
    .order {
        text-shadow: -1px -1px 0 yellow, 1px -1px 0 yellow, -1px 1px 0 yellow, 1px 1px yellow;
    }
    
    ul.navbar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #f2f2f2;
        height: 50px;
      }
    
    
      ul.navbar li {
        display: inline-block;
      }
    
      ul.navbar li a {
        display: block;
        padding: 20px 20px;
        text-decoration: none;
        color: #333;
        font-weight: bold;
        font-size: 15px;
      }
    
    
      ul.navbar li a:hover {
        background-color: #ddd;
      }
    
      .sidebar {
        background-color: #f2f2f2;
        width: 200px;
        padding: 20px;
        position: fixed;
        top: 0;
        right: -200px;
        height: 100vh;
        transition: right 0.3s ease-in-out;
      }
    
      .sidebar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
    
      .sidebar li {
        margin-bottom: 10px;
      }
    
      /* CSS code untuk styling burger icon */
      .burger {
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
        z-index: 999;
      }
    
      .burger span {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #333;
        margin-bottom: 5px;
        transition: transform 0.3s ease-in-out;
      }
    
      .burger.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
    
      .burger.active span:nth-child(2) {
        opacity: 0;
      }
    
      .burger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
      }
    
    /* Styling the hero section */
    
    .home {
        display: flex;
        flex-wrap: wrap;
        min-height: 70vh;
        align-items: center;
    }
    
    .home .content {
        flex: 1 1 40rem;
        padding-top: 6.5rem;
    }
    /* Styling the main image */
    
    .home .image {
        flex: 1 1 30rem;
    }
    
    .home .image img {
        width: 90%;
        height: 90%;
        padding: 2rem;
        animation: float 3s linear infinite;
    }
    /* animating the main image   */
    
    @keyframes float {
        0%,
        100% {
            transform: translateY(0rem);
        }
        50% {
            transform: translateY(3rem);
        }
    }
    
    .home .content h3 {
        font-size: 5rem;
        color: white;
    }
    /* Styling the content */
    
    .yellowColor {
        color: yellow;
    }
    
    .mainfont {
        font-family: "Jacques Francois Shadow", cursive;
    }
    .experience{
        font-size: 4rem;
        color: white;
        text-align: center;
    
    }
    
    .home .content p {
        font-size: 1.5rem;
        color: white;
        padding: 2rem 0;
                text-align: justify;
    
    }
    
    .heading {
        text-align: center;
        font-size: 3.5rem;
        padding: 1rem;
        color: #666;
    }
    /* Styling the buttons  */
    
    .btn {
        display: inline-block;
        padding: 0.8rem 3rem;
        border: 0.2rem solid white;
        color: white;
        cursor: pointer;
        font-size: 1.7rem;
        border-radius: 0.5rem;
        position: relative;
        overflow: hidden;
        z-index: 0;
        margin: 1rem 1rem 0 0;
    }
    
    .btn:hover {
        color: #fff;
    }

    .container {
    display: flex;
    flex: 1 1 40rem;
    justify-content: center;
    max-width: 1200px;
    margin-block: 2rem;
    gap: 2rem;
}


.card {
    display: flex;
    flex-direction: column;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: #ece9e6;
    background: linear-gradient(to right, #ffffff, #ece9e6);
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

.card-body {
    padding-right: 1rem;
    padding-top: 1.5rem;
    padding-left: 1rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.card .card-body p{
        padding-top: 1rem;

    font-size: 1rem;
        color: black;
        text-align: justify;
}

.tag {
    align-self: flex-start;
    padding: 0.25em 0.75em;
    border-radius: 1em;
    font-size: 0.75rem;
}

.tag+.tag {
    margin-left: 0.5em;
}

.tag-blue {
    background: #56ccf2;
    background: linear-gradient(to bottom, #2f80ed, #56ccf2);
    color: #fafafafa;
}

.card-body h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
}

.user-image {
    border-radius: 50%;
}

.wrapper{
    margin-top: 8%;
    margin-left: 35%;
    width: 380px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  }
  .wrapper .title{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    line-height: 100px;
    color: #fff;
    user-select: none;
    border-radius: 15px 15px 0 0;
    background: linear-gradient(-135deg, #212531, #8089a4);
  }
  .wrapper form{
    padding: 10px 30px 50px 30px;
  }
  .wrapper form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
  }
  .wrapper form .field input{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 17px;
    padding-left: 20px;
    border: 1px solid lightgrey;
    border-radius: 25px;
    transition: all 0.3s ease;
  }
  .wrapper form .field input:focus,
  form .field input:valid{
    border-color: #212531;
  }
  .wrapper form .field label{
    position: absolute;
    top: 50%;
    left: 20px;
    color: #999999;
    font-weight: 400;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
  }
  form .field input:focus ~ label,
  form .field input:valid ~ label{
    top: 0%;
    font-size: 16px;
    color: #212531;
    background: #fff;
    transform: translateY(-50%);
  }
  form .content{
    display: flex;
    width: 100%;
    height: 50px;
    font-size: 16px;
    align-items: center;
    justify-content: space-around;
  }
  form .content .checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  form .content input{
    width: 15px;
    height: 15px;
    background: red;
  }
  form .content label{
    color: #262626;
    user-select: none;
    padding-left: 5px;
  }
  form .content .pass-link{
    color: "";
  }
  form .field input[type="submit"]{
    color: #fff;
    border: none;
    padding-left: 0;
    margin-top: -10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(-135deg, #212531, #8089a4);
    transition: all 0.3s ease;
  }
  form .field input[type="submit"]:active{
    transform: scale(0.95);
  }


  .wrapper form .field textarea{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 17px;
    padding-left: 20px;
    border: 1px solid lightgrey;
    border-radius: 25px;
    transition: all 0.3s ease;
  }
  .wrapper form .field textarea:focus,
  form .field textarea:valid{
    border-color: #212531;
  }
  .wrapper form .field label{
    position: absolute;
    top: 50%;
    left: 20px;
    color: #999999;
    font-weight: 400;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
  }
  form .field textarea:focus ~ label,
  form .field textarea:valid ~ label{
    top: 0%;
    font-size: 16px;
    color: #212531;
    background: #fff;
    transform: translateY(-50%);
  }
  form .content{
    display: flex;
    width: 100%;
    height: 50px;
    font-size: 16px;
    align-items: center;
    justify-content: space-around;
  }
  form .content .checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  form .content textarea{
    width: 15px;
    height: 15px;
    background: red;
  }
  form .content label{
    color: #262626;
    user-select: none;
    padding-left: 5px;
  }
  form .content .pass-link{
    color: "";
  }
  form .field textarea[type="submit"]{
    color: #fff;
    border: none;
    padding-left: 0;
    margin-top: -10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(-135deg, #212531, #8089a4);
    transition: all 0.3s ease;
  }
  form .field textarea[type="submit"]:active{
    transform: scale(0.95);
  }

  form .signup-link{
    color: #262626;
    margin-top: 20px;
    text-align: center;
  }
  form .pass-link a,
  form .signup-link a{
    color: #4158d0;
    text-decoration: none;
  }
  form .pass-link a:hover,
  form .signup-link a:hover{
    text-decoration: underline;
  }

  

  .footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #666;
  }


